.input-heart {
  font-family: 'Nunito', sans-serif;
  color: #111;
  background: #ffffff;
  font-size: 16px;
  font-weight: 400;
  width: 90%;
  padding: 9px 12px;
  border: none;
}

#input_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99.4%;
  margin: 4px 12px 11px 0;
  border: 2px solid #aaaaaa;
  border-radius: 4px;
}

#btn_heart {
  background-color: #fff;
  color: #111;
  border: none;
}

#btn_heart svg {
  height: 20px;
}
#btn_heart svg:hover {
  fill: #074ee8;
  color: #074ee8;
}
.heartFilled {
  fill: #074ee8;
  color: #074ee8;
}

textarea:focus,
input:focus:not(.input-heart),
select:focus {
  box-shadow: 0 0 0 0;
  border: 2px solid #aaaaaa;
  outline: 0;
}

.input-heart:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

svg {
  vertical-align: middle;
}
