.labels {
  font-family: 'Nunito', sans-serif;
  color: #767676;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.select {
  display: block;
  font-family: 'Nunito', sans-serif;
  color: #767676;
  background: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  border: 2px solid #aaaaaa;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  margin-top: 4px;
  width: 100%;
}
