/* The check-terms */
.check-terms {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-terms input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0.5px;
  width: 0.5px;
  bottom: 0%;
  left: 1.5%;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.check-terms:hover input ~ .checkmark {
  background-color: #074ee8;
  border: 2px solid #074ee8;
  border-radius: 2px;
}

/* When the checkbox is checked, add a blue background */
.check-terms input:checked ~ .checkmark {
  background-color: #074ee8;
  border: 2px solid #074ee8;
  border-radius: 2px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-terms input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-terms .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
